USE [EmployeeManageDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/31/2020 2:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/31/2020 2:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/31/2020 2:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/31/2020 2:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/31/2020 2:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/31/2020 2:17:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/31/2020 2:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 7/31/2020 2:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetails]    Script Date: 7/31/2020 2:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetails](
	[CartDetailId] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Quanlity] [int] NOT NULL,
	[Amount] [float] NULL,
 CONSTRAINT [PK_CartDetails] PRIMARY KEY CLUSTERED 
(
	[CartDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 7/31/2020 2:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[TotalAmount] [float] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/31/2020 2:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/31/2020 2:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 7/31/2020 2:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/31/2020 2:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[DoB] [datetime] NOT NULL,
	[Gender] [bit] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[AvatarPath] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/31/2020 2:17:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200731020929_InitIdentityDb', N'3.1.6')
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [IsDelete]) VALUES (2, N'Điện thoại di động', 1)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [IsDelete]) VALUES (3, N'Điện thoại di động', 0)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [IsDelete]) VALUES (4, N'Máy tính xách tay', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentId], [DepartmentName], [IsDelete]) VALUES (1, N'IT', 0)
INSERT [dbo].[Department] ([DepartmentId], [DepartmentName], [IsDelete]) VALUES (2, N'HR', 0)
INSERT [dbo].[Department] ([DepartmentId], [DepartmentName], [IsDelete]) VALUES (3, N'Admin', 0)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [EmployeeName], [DoB], [Gender], [DepartmentId], [AvatarPath], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (2, N'Khoa Nguyễn', CAST(N'2000-09-01T00:00:00.000' AS DateTime), 0, 4, N'/images/noavatar.png', 0, CAST(N'2000-10-10T00:00:00.000' AS DateTime), CAST(N'2020-07-22T23:04:53.967' AS DateTime))
INSERT [dbo].[Employee] ([EmployeeId], [EmployeeName], [DoB], [Gender], [DepartmentId], [AvatarPath], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (3, N'Khoa Nguyễn', CAST(N'2020-02-01T00:00:00.000' AS DateTime), 1, 2, N'/images/noavatar.png', 0, CAST(N'2020-07-22T23:16:54.390' AS DateTime), CAST(N'2020-07-22T23:16:54.390' AS DateTime))
INSERT [dbo].[Employee] ([EmployeeId], [EmployeeName], [DoB], [Gender], [DepartmentId], [AvatarPath], [IsDeleted], [CreatedDate], [ModifiedDate]) VALUES (4, N'Khoa Nguyễn', CAST(N'2020-04-17T00:00:00.000' AS DateTime), 1, 1, N'/images/noavatar.png', 0, CAST(N'2020-07-22T23:17:18.283' AS DateTime), CAST(N'2020-07-22T23:17:18.283' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Carts] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([CartId])
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Carts]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Products]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Customers]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCategory]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/14/2020
-- Description:	delete category by CategoryID
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteCategory]
	@CategoryId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again'
	BEGIN TRY
		UPDATE [dbo].[Categories]
		SET IsDelete = 1
		WHERE [CategoryId] = @CategoryId

		SET @Message = 'Department has been deleted successfully!'
		SELECT @CategoryId AS [CategoryId], @Message AS [Message]

	END TRY
	BEGIN CATCH
		SELECT @CategoryId AS [CategoryId], @Message AS [Message]
	END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDepartment]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/14/2020
-- Description:	delete department by departmentID
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteDepartment]
	@DepartmentId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again'
	BEGIN TRY
		UPDATE [dbo].[Department]
		SET IsDelete = 1
		WHERE DepartmentId = @DepartmentId

		SET @Message = 'Department has been deleted successfully!'
		SELECT @DepartmentId AS DepartmentId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SELECT @DepartmentId AS DepartmentId, @Message AS [Message]
	END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEmployee]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/24/2020
-- Description:	delete employee by departmentID
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteEmployee]
	@EmployeeId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again'
	BEGIN TRY
		UPDATE [dbo].[Employee]
		SET IsDeleted = 1
		WHERE EmployeeId = @EmployeeId

		SET @Message = 'Employee has been deleted successfully!'
		SELECT @EmployeeId AS EmployeeId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SELECT @EmployeeId AS EmployeeId, @Message AS [Message]
	END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProduct]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/29/2020
-- Description:	delete product by productID
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteProduct]
	@ProductId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again'
	BEGIN TRY
		UPDATE [dbo].[Products]
		SET IsDeleted = 1
		WHERE [ProductId] = @ProductId

		SET @Message = 'Product has been deleted successfully!'
		SELECT @ProductId AS [ProductId], @Message AS [Message]

	END TRY
	BEGIN CATCH
		SELECT @ProductId AS [ProductId], @Message AS [Message]
	END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategories]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/28/2020
-- Description:	Get all Category
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetCategories]
AS
BEGIN

	SELECT c.[CategoryId]
      ,c.[CategoryName]
	  ,(SELECT COUNT(*) FROM Products p WHERE c.[CategoryId] = p.[CategoryId] AND p.IsDeleted = 0) AS Products
  FROM [dbo].[Categories] c
  WHERE c.IsDelete = 0

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategory]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/28/2020
-- Description:	Get Category by Id
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetCategory]
	@CategoryId INT
AS
BEGIN
	SELECT c.[CategoryId]
      ,c.[CategoryName]
  FROM [dbo].[Categories] c
  WHERE c.CategoryId = @CategoryId AND IsDelete = 0

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartment]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/14/2020
-- Description:	Get department by departmentID
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetDepartment]
	@DepartmentId INT
AS
BEGIN

	SELECT [DepartmentId]
      ,[DepartmentName]
  FROM [dbo].[Department]
  WHERE DepartmentId = @DepartmentId AND IsDelete = 0

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartments]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/14/2020
-- Description:	Get all department
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetDepartments]
AS
BEGIN

	SELECT d.[DepartmentId]
      ,d.[DepartmentName]
	  ,(SELECT COUNT(*) FROM Employee e WHERE e.DepartmentId = d.DepartmentId AND e.IsDeleted = 0) AS Employees
  FROM [dbo].[Department] d
  WHERE d.IsDelete = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployee]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/22/2020
-- Description:	Get employee by employeeId
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetEmployee]
	@EmployeeId INT
AS
BEGIN

SELECT [EmployeeId]
      ,[EmployeeName]
      ,FORMAT([DoB],'yyyy-MM-dd') AS [DoB]
      ,(CASE WHEN [Gender] = 1 THEN 1 ELSE 0 END) AS [Gender]
      ,[DepartmentId]
      ,[AvatarPath]
  FROM [dbo].[Employee]
  WHERE EmployeeId = @EmployeeId AND IsDeleted = 0

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeesByDepartId]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/22/2020
-- Description:	Get employees by departmentId
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetEmployeesByDepartId]
	@DepartmentId INT
AS
BEGIN


SELECT [EmployeeId]
      ,[EmployeeName]
      ,FORMAT([DoB], 'MMM dd yyyy') AS [DoB]
      ,(CASE WHEN [Gender] = 1 THEN 'Male' ELSE 'Female' END) AS Gender
      ,[DepartmentId]
      ,[AvatarPath]
	  ,FORMAT([CreatedDate], 'dd/MM/yyyy') AS [CreatedDate]
  FROM [dbo].[Employee]
  WHERE DepartmentId = @DepartmentId AND IsDeleted = 0

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProduct]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/29/2020
-- Description:	Get product by productId
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetProduct]
	@ProductId INT
AS
BEGIN

SELECT [ProductId]
      ,[ProductName]
      ,[Price]
      ,[Image]
      ,[CategoryId]
  FROM [dbo].[Products]
  WHERE [ProductId] = @ProductId AND IsDeleted = 0

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductsByCatId]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/29/2020
-- Description:	Get products by CategoryId
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetProductsByCatId]
	@CategoryId INT
AS
BEGIN


SELECT [ProductId]
      ,[ProductName]
      ,FORMAT([Price], 'C', 'vi-VN') AS [Price]
      ,[Image]
      ,[CategoryId]
  FROM [dbo].[Products]
  WHERE [CategoryId] = @CategoryId AND IsDeleted = 0

END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveCategory]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/28/2020
-- Description:	create/update Category
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveCategory]
	@CategoryId INT,
	@CategoryName NVARCHAR(50)
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new Department
		IF(@CategoryId IS NULL OR @CategoryId = 0)
		BEGIN
			INSERT INTO [dbo].[Categories]
			   ([CategoryName])
			VALUES
			   (@CategoryName)
		
			SET @CategoryId = SCOPE_IDENTITY()
			SET @Message = 'Category has been created successfully!'

		END
		ELSE --Update Department by Id
		BEGIN
			UPDATE [dbo].[Categories]
			   SET [CategoryName] = @CategoryName
			 WHERE [CategoryId] = @CategoryId
			 SET @Message = 'Category has been updated successfully!'
		END

		SELECT @CategoryId AS CategoryId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @CategoryId = 0
		SELECT @CategoryId AS CategoryId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveDepartment]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/14/2020
-- Description:	create/update department
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveDepartment]
	@DepartmentId INT,
	@DeparmentName NVARCHAR(50)
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new Department
		IF(@DepartmentId IS NULL OR @DepartmentId = 0)
		BEGIN
			INSERT INTO [dbo].[Department]
			   ([DepartmentName])
			VALUES
			   (@DeparmentName)
		
			SET @DepartmentId = SCOPE_IDENTITY()
			SET @Message = 'Department has been created successfully!'

		END
		ELSE --Update Department by Id
		BEGIN
			UPDATE [dbo].[Department]
			   SET [DepartmentName] = @DeparmentName
			 WHERE DepartmentId = @DepartmentId
			 SET @Message = 'Department has been updated successfully!'
		END

		SELECT @DepartmentId AS DepartmentId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @DepartmentId = 0
		SELECT @DepartmentId AS DepartmentId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveEmployee]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/22/2020
-- Description:	create/update employee
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveEmployee]
	@EmployeeId INT,
	@EmployeeName NVARCHAR(50),
	@DoB DATETIME,
	@Gender BIT,
	@DepartmentId INT,
	@AvatarPath NVARCHAR(MAX)
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new Employee
		IF(@EmployeeId IS NULL OR @EmployeeId = 0)
		BEGIN
			INSERT INTO [dbo].[Employee]
				   ([EmployeeName]
				   ,[DoB]
				   ,[Gender]
				   ,[DepartmentId]
				   ,[AvatarPath]
				   ,[IsDeleted]
				   ,[CreatedDate]
				   ,[ModifiedDate])
			 VALUES
				   (@EmployeeName
				   ,@DoB
				   ,@Gender
				   ,@DepartmentId
				   ,@AvatarPath
				   ,0
				   ,GETDATE()
				   ,GETDATE())
		
			SET @EmployeeId = SCOPE_IDENTITY()
			SET @Message = 'Employee has been created successfully!'

		END
		ELSE --Update Employee by Id
		BEGIN
			UPDATE [dbo].[Employee]
			   SET [EmployeeName] = @EmployeeName
				  ,[DoB] = @DoB
				  ,[Gender] = @Gender
				  ,[DepartmentId] = @DepartmentId
				  ,[AvatarPath] = @AvatarPath
				  ,[ModifiedDate] = GETDATE()
			 WHERE EmployeeId = @EmployeeId

			 SET @Message = 'Employee has been updated successfully!'
		END

		SELECT @DepartmentId AS DepartmentId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @DepartmentId = 0
		SELECT @DepartmentId AS DepartmentId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveProduct]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/29/2020
-- Description:	create/update product
-- =============================================
CREATE PROCEDURE [dbo].[sp_SaveProduct]
	@ProductId INT,
	@ProductName NVARCHAR(50),
	@Price FLOAT,
	@Image NVARCHAR(MAX),
	@CategoryId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new product
		IF(@ProductId IS NULL OR @ProductId = 0)
		BEGIN
			INSERT INTO [dbo].[Products]
					   ([ProductName]
					   ,[Price]
					   ,[Image]
					   ,[CreatedDate]
					   ,[ModifiedDate]
					   ,[IsDeleted]
					   ,[CategoryId])
				 VALUES
					   (@ProductName
					   ,@Price
					   ,@Image
					   ,GETDATE()
					   ,GETDATE()
					   ,0
					   ,@CategoryId)

		
			SET @ProductId = SCOPE_IDENTITY()
			SET @Message = 'Product has been created successfully!'

		END
		ELSE --Update Employee by Id
		BEGIN
			UPDATE [dbo].[Products]
			   SET [ProductName] = @ProductName
				  ,[Price] = @Price
				  ,[Image] = @Image
				  ,[ModifiedDate] = GETDATE()
				  ,[CategoryId] = @CategoryId
			 WHERE [ProductId] = @ProductId

			 SET @Message = 'Product has been updated successfully!'
		END

		SELECT @ProductId AS [ProductId], @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @ProductId = 0
		SELECT @ProductId AS [ProductId], @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchCategory]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/29/2020
-- Description:	search Category
-- =============================================
CREATE PROCEDURE [dbo].[sp_SearchCategory]
	@keyword NVARCHAR(50)
AS
BEGIN

	IF(@keyword IS NULL)
		SET @keyword = ''

	SELECT [CategoryId]
      ,[CategoryName]
  FROM [dbo].[Category]
  WHERE CategoryName LIKE '%'+@keyword+'%' AND IsDelete = 0

END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchDepartment]    Script Date: 7/31/2020 2:17:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Khoa Nguyen
-- Create date: 7/16/2020
-- Description:	search department
-- =============================================
CREATE PROCEDURE [dbo].[sp_SearchDepartment]
	@keyword NVARCHAR(50)
AS
BEGIN

	IF(@keyword IS NULL)
		SET @keyword = ''

	SELECT [DepartmentId]
      ,[DepartmentName]
  FROM [dbo].[Department]
  WHERE DepartmentName LIKE '%'+@keyword+'%' AND IsDelete = 0

END
GO
